/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

div.inside a {
	font-family: 'Lucida Grande', Verdana, Arial, 'Bitstream Vera Sans', sans-serif;
	text-decoration: none;
}

div.inside a:hover {
	text-decoration: underline;
}
