/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

div.inside a {
	font-family: 'Lucida Grande', Verdana, Arial, 'Bitstream Vera Sans', sans-serif;
	text-decoration: none;
}

div.inside a:hover {
	text-decoration: underline;
}

.text, .select {
	width: 250px;
}

.postbox .inside {
	text-align: left;
	margin: 0 10px 10px 10px;
	font-size: 13px;
	line-height: 150%;
}

.postbox {
	margin: 10px
}
